{% extends "layout.html" %}
{% block body %}
  {% if entries %}
    <table class="table">
      <thead>
        <tr>
          <th> Delivery Code </th>
          <th> Repository Name </th>
          <th> Pushed by </th>
          <th> Ref </th>
          <th> Head </th>
        </tr>
      </thead>
      <tbody>
        {% for entry in entries %}
          <tr>
            <td> {{ entry.delivery_code }} </td>
            <td> {{ entry.full_repo_name }} </td>
            <td> {{ entry.pusher }} </td>
            <td> {{ entry.ref }} </td>
            <td> {{ entry.head }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em> </li>
  {% endfor %}
{% endblock %}